*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    background: hsl(172, 100%, 51%);

}



main{
    background: rgb(154, 13, 13);
    height: 100vh;
    display: 50vh;
    gap: 1rem;
    grid-template-columns: repeat(3, 10rem) ;
    grid-template-rows: repeat(3, 10rem);
    justify-content: center;
    align-content: center;
}
.box{
    width: 100%;
    height: 100%;
    background: linear-gradient(#0206e856, #359833);
    box-shadow: 0 0 10px 2px #000;
}
.box:first-child{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.box:nth-child(2){
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.box:nth-child(3){
    grid-column: 1 / 3 ;
    grid-row: 2 / 4;
}                             
}